body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ebf2ff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #20242a;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #0077ff; /* Değişiklik için mouse üzerine geldiğinde farklı bir renk seçebilirsiniz */
}
